<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
 
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="plotter"
         name="Plotter"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="gov.redhawk.plotter.application.PlotterApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="gov.redhawk.plotter.application.PlotterPerspective"
            fixed="false"
            id="gov.redhawk.plotter.application.perspective"
            name="REDHAWK Plotter Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="gov.redhawk.plotter.application.plotter"
            name="Plotter">
         <property
               name="appName"
               value="Plotter">
         </property>
          <property name="preferenceCustomization" value="plugin_customization.ini"/>
		  <property
				name="applicationXMI"
				value="org.eclipse.platform/LegacyIDE.e4xmi">
		  </property>
		  <property
				name="cssTheme"
				value="org.eclipse.e4.ui.css.theme.e4_default">
		  </property>
		  <property
				name="applicationCSSResources"
				value="platform:/plugin/org.eclipse.ui.themes/images/">
		  </property>
		   <property name="appName" value="%product.name"/> 
          <property name="preferenceCustomization" value="plugin_customization.ini"/>
		  <property name="applicationXMI" value="org.eclipse.platform/LegacyIDE.e4xmi"/>
		  <property name="cssTheme" value="org.eclipse.e4.ui.css.theme.e4_default"/>
		  <property name="applicationCSSResources" value="platform:/plugin/org.eclipse.platform/images/"/>
          <property name="windowImages" value="platform:/plugin/gov.redhawk.e4.platform/redhawk16.png,platform:/plugin/gov.redhawk.e4.platform/redhawk32.png,platform:/plugin/gov.redhawk.e4.platform/redhawk48.png"/>
          <property name="startupForegroundColor" value="9c9696"/>
          <property name="startupMessageRect" value="7,252,445,20"/>
          <property name="startupProgressRect" value="5,275,445,15"/>
      </product>
   </extension>

</plugin>
