<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
-->
<?eclipse version="3.4"?>
<plugin>
     <extension id="ide" point="org.eclipse.core.runtime.products"> 
      <product application="gov.redhawk.editor.product.app" description="%productBlurb" name="%product.name"> 
          <property name="appName" value="%product.name"/> 
          <property name="buildIdLocation" value="270,10"/>
          <property
                name="buildIdSize"
                value="170,40">
          </property>
          <property name="featureIconLocation" value="10,210"/>
          <property name="preferenceCustomization" value="plugin_customization.ini"/>
		  <property name="applicationXMI" value="org.eclipse.platform/LegacyIDE.e4xmi"/>
		  <property name="cssTheme" value="org.eclipse.e4.ui.css.theme.e4_default"/>
		  <property name="applicationCSSResources" value="platform:/plugin/org.eclipse.ui.themes/images/"/>
          <property name="windowImages" value="platform:/plugin/gov.redhawk.e4.platform/redhawk16.png,platform:/plugin/gov.redhawk.e4.platform/redhawk32.png,platform:/plugin/gov.redhawk.e4.platform/redhawk48.png"/>
          <property name="startupForegroundColor" value="ffe6e6"/>
          <property name="startupMessageRect" value="7,252,445,20"/>
          <property name="startupProgressRect" value="5,275,445,15"/>
          <property name="aboutText" value="%productBlurb"/>
          <property name="aboutImage" value="redhawk250.png"/>
      </product> 
   </extension>
     <extension
           id="app"
           point="org.eclipse.core.runtime.applications">
        <application
              cardinality="*"
              thread="main"
              visible="true">
           <run
                 class="gov.redhawk.editor.product.EditorApplication">
           </run>
        </application>
     </extension>
     <extension
           point="org.eclipse.ui.perspectives">
        <perspective
              class="gov.redhawk.editor.product.internal.EditorPerspective"
              fixed="true"
              id="gov.redhawk.editor.product.perspective"
              name="%perspective.name">
        </perspective>
     </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="gov.redhawk.editor.product.hidedistractions"
            name="%activity.name">
         <enabledWhen>
            <not>
               <with variable="org.eclipse.core.runtime.Platform">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.runtime.product"
                        value="gov.redhawk.editor.product.ide">
                  </test>
            </with>
            </not>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="gov.redhawk.editor.product.hidedistractions"
            pattern="org\.eclipse\.gef\.examples.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.editor.product.hidedistractions"
            pattern="org\.eclipse\.xsd.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.editor.product.hidedistractions"
            pattern="org\.eclipse\.uml2\.uml.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.editor.product.hidedistractions"
            pattern="org\.eclipse\.search.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.editor.product.hidedistractions"
            isEqualityPattern="true"
            pattern="org.python.pydev.django/org.python.pydev.django.ui.wizards.project.DjangoProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.editor.product.hidedistractions"
            isEqualityPattern="true"
            pattern="org.eclipse.sdk/org.eclipse.jdt.ui.wizards.NewClassCreationWizard">
      </activityPatternBinding>
   </extension>
</plugin>
