<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
-->
<?eclipse version="3.4"?>
<plugin>

     <extension id="ide" point="org.eclipse.core.runtime.products"> 
      <product name="REDHAWK IDE" application="org.eclipse.ui.ide.workbench" description="%productBlurb"> 
          <!-- For documentation on updating icons, see http://wiki.eclipse.org/Platform-releng/Updating_Branding -->
          <property name="appName" value="REDHAWK IDE"/> 
          <property name="preferenceCustomization" value="plugin_customization.ini"/>
          <property
                name="buildIdLocation"
                value="270,10"/>
          <property
                name="buildIdSize"
                value="170,40">
          </property>
         <property
                name="featureIconLocation"
                value="10,210"/>
         <property
          		name="introTitle"
          		value="%productIntroTitle"/>
          <property
          		name="introBrandingImage"
          		value="product:intro-redhawk.png"/>
          <property
          		name="introBrandingImageText"
          		value="%productIntroBrandingText"/>
		  <property
				name="introDescription-overview"
				value="%introDescription-overview"/>
		  <property
				name="introDescription-tutorials"
				value="%introDescription-tutorials"/>
		  <property
				name="introDescription-samples"
				value="%introDescription-samples"/>                
		  <property
				name="applicationXMI"
				value="org.eclipse.platform/LegacyIDE.e4xmi">
		  </property>
		  <property
				name="cssTheme"
				value="org.eclipse.e4.ui.css.theme.e4_default">
		  </property>
		  <property
				name="applicationCSSResources"
				value="platform:/plugin/org.eclipse.ui.themes/images/">
		  </property>
    <property
          name="aboutImage"
          value="redhawk250.png">
    </property>
    <property
          name="aboutText"
          value="%productBlurb">
    </property>
    <property
          name="windowImages"
          value="redhawk16.png,redhawk32.png,redhawk48.png">
    </property>
    <property
          name="startupForegroundColor"
          value="ffe6e6">
    </property>
    <property
          name="startupMessageRect"
          value="7,252,445,20">
    </property>
    <property
          name="startupProgressRect"
          value="5,275,445,15">
    </property>
      </product> 
   </extension> 
   
   	<extension
		point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="gov.redhawk.e4.platform.ide">
      </introProductBinding>
    </extension>

   <!-- =====================================================  -->
   <!-- Standby Content Part contributions                     -->
   <!-- =====================================================  -->

<extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="gov.redhawk.ide.ui.perspectives.sca">
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newcomponent">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newwaveform">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newdevice">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newservice">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newnode">
        </newWizardShortcut>
        <viewShortcut
              id="gov.redhawk.ui.sca_explorer">
        </viewShortcut>
        <viewShortcut
              id="gov.redhawk.ui.views.namebrowserview">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.views.PropertySheet">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.navigator.ProjectExplorer">
        </viewShortcut>
     </perspectiveExtension>
     <perspectiveExtension
           targetID="org.eclipse.cdt.ui.CPerspective">
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newcomponent">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newwaveform">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newdevice">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newservice">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newnode">
        </newWizardShortcut>
        <viewShortcut
              id="gov.redhawk.ui.sca_explorer">
        </viewShortcut>
        <viewShortcut
              id="gov.redhawk.ui.views.namebrowserview">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.views.PropertySheet">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.navigator.ProjectExplorer">
        </viewShortcut>
        <view
              id="gov.redhawk.ui.sca_explorer"
              minimized="false"
              relationship="bottom"
              relative="org.eclipse.ui.navigator.ProjectExplorer">
        </view>
        <view
              id="gov.redhawk.ui.views.namebrowserview"
              minimized="false"
              relationship="stack"
              relative="gov.redhawk.ui.sca_explorer">
        </view>
     </perspectiveExtension>
     <perspectiveExtension
           targetID="org.eclipse.jdt.ui.JavaPerspective">
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newcomponent">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newwaveform">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newdevice">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newservice">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newnode">
        </newWizardShortcut>
        <viewShortcut
              id="gov.redhawk.ui.sca_explorer">
        </viewShortcut>
        <viewShortcut
              id="gov.redhawk.ui.views.namebrowserview">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.views.PropertySheet">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.navigator.ProjectExplorer">
        </viewShortcut>
        <view
              id="gov.redhawk.ui.sca_explorer"
              minimized="false"
              relationship="bottom"
              relative="org.eclipse.jdt.ui.PackageExplorer">
        </view>
        <view
              id="gov.redhawk.ui.views.namebrowserview"
              minimized="false"
              relationship="stack"
              relative="gov.redhawk.ui.sca_explorer">
        </view>
        <view
              id="org.eclipse.ui.navigator.ProjectExplorer"
              minimized="false"
              relationship="stack"
              relative="org.eclipse.jdt.ui.PackageExplorer">
        </view>
     </perspectiveExtension>
     <perspectiveExtension
           targetID="org.python.pydev.ui.PythonPerspective">
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newcomponent">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newwaveform">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newdevice">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newservice">
        </newWizardShortcut>        
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newnode">
        </newWizardShortcut>
        <viewShortcut
              id="gov.redhawk.ui.sca_explorer">
        </viewShortcut>
        <viewShortcut
              id="gov.redhawk.ui.views.namebrowserview">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.views.PropertySheet">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.navigator.ProjectExplorer">
        </viewShortcut>
        <view
              id="gov.redhawk.ui.sca_explorer"
              minimized="false"
              relationship="bottom"
              relative="org.python.pydev.navigator.view">
        </view>
        <view
              id="gov.redhawk.ui.views.namebrowserview"
              minimized="false"
              relationship="stack"
              relative="gov.redhawk.ui.sca_explorer">
        </view>
        <view
              id="org.eclipse.ui.navigator.ProjectExplorer"
              minimized="false"
              relationship="stack"
              relative="org.python.pydev.navigator.view">
        </view>
     </perspectiveExtension>
     <perspectiveExtension
           targetID="org.eclipse.pde.ui.PDEPerspective">
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newcomponent">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newwaveform">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newdevice">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newservice">
        </newWizardShortcut>        
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newnode">
        </newWizardShortcut>
        <viewShortcut
              id="gov.redhawk.ui.sca_explorer">
        </viewShortcut>
        <viewShortcut
              id="gov.redhawk.ui.views.namebrowserview">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.views.PropertySheet">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.navigator.ProjectExplorer">
        </viewShortcut>
        <view
              id="gov.redhawk.ui.sca_explorer"
              minimized="false"
              relationship="bottom"
              relative="org.eclipse.jdt.ui.PackageExplorer">
        </view>
        <view
              id="gov.redhawk.ui.views.namebrowserview"
              minimized="false"
              relationship="stack"
              relative="gov.redhawk.ui.sca_explorer">
        </view>
     </perspectiveExtension>
  </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="gov.redhawk.platform.RedhawkPlatformActivator"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard
            id="gov.redhawk.ide.ui.wizards.newcomponent">
      </primaryWizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizards.newwaveform">
      </primaryWizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizard.newdevice">
      </primaryWizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizard.newservice">
      </primaryWizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizards.newnode">
      </primaryWizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizards.newidl">
      </primaryWizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizard.controlPanel">
      </primaryWizard>
   </extension>

</plugin>
