[Desktop Entry]
Name=Redhawk IDE
GenericName=Redhawk IDE
Comment=Develop and use SDR applications for Redhawk
Exec=rhide
Icon=redhawk
Terminal=false
Type=Application
Categories=Development;Science;
