<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="REDHAWK IDE Product Target" sequenceNumber="52">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="nxm.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/nxm/latest/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="gov.redhawk.core.feature.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/tycho/core"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="idl.bulkio.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/tycho/bulkioInterfaces"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="mil.jpeojtrs.sca.sdk.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/tycho/mil.jpeojtrs.sca/SNAPSHOT/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="gov.redhawk.ide.all.sdk.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/tycho/gov.redhawk.ide/SNAPSHOT/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.python.pydev.feature.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/misc/pydev/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.jacorb.feature.group" version="0.0.0"/>
<unit id="org.jacorb.source.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/misc/org.jacorb/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="gov.redhawk.ide.codegen.sdk.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/tycho/gov.redhawk.codegen/SNAPSHOT/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.io" version="0.0.0"/>
<unit id="org.apache.commons.io.source" version="0.0.0"/>
<unit id="org.apache.log4j" version="0.0.0"/>
<unit id="org.apache.log4j.source" version="0.0.0"/>
<unit id="org.slf4j.api" version="0.0.0"/>
<unit id="org.slf4j.api.source" version="0.0.0"/>
<unit id="org.slf4j.log4j" version="0.0.0"/>
<unit id="org.slf4j.log4j.source" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/eclipse/orbit/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="0.0.0"/>
<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rcp.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/eclipse/juno-3.8"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ocl.all.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.linuxtools.rpm.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wb.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wb.doc.user.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wb.core.ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wb.layout.group.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.linuxtools.gcov.feature.group" version="0.0.0"/>
<unit id="org.eclipse.linuxtools.gprof.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.linuxtools.cdt.libhover.devhelp.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.linuxtools.lttng2.feature.group" version="0.0.0"/>
<unit id="org.eclipse.linuxtools.lttng2.kernel.feature.group" version="0.0.0"/>
<unit id="org.eclipse.linuxtools.oprofile.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.linuxtools.perf.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.linuxtools.systemtap.feature.group" version="0.0.0"/>
<unit id="org.eclipse.linuxtools.valgrind.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.compare.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.query.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gmf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xpand.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.autotools.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.common.fproj.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jst.common.fproj.enablement.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.xsl.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rap.tools.feature.group" version="0.0.0"/>
<unit id="org.eclipse.libra.warproducts.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jst.webpageeditor.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.commons.lang" version="0.0.0"/>
<unit id="org.apache.commons.lang.source" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/eclipse/juno"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.jacorb.systemFragment.feature.group" version="0.0.0"/>
<unit id="gov.redhawk.common.sdk.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/tycho/gov.redhawk.common/SNAPSHOT/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="nxm.rcp.ui.sdk.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/nxm-ui-build/nxm.rcp.ui/develop/latest/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="gov.redhawk.validation.feature.group" version="0.0.0"/>
<unit id="gov.redhawk.idl.feature.group" version="0.0.0"/>
<unit id="gov.redhawk.rcp.sdk.feature.group" version="0.0.0"/>
<unit id="gov.redhawk.rcp.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/tycho/gov.redhawk.rcp/SNAPSHOT/"/>
</location>
</locations>
</target>
