<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	This file is protected by Copyright. Please refer to the COPYRIGHT file distributed with this 
	source distribution.

	This file is part of REDHAWK IDE.
	
	All rights reserved.  This program and the accompanying materials are made available under 
	the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at 
	http://www.eclipse.org/legal/epl-v10.html
-->
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="%product.name">
         <property
               name="appName"
               value="REDHAWK IDE">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/RedHawk_Logo250x.gif">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="windowImages"
               value="icons/RedHawk_Logo16x.gif,icons/RedHawk_Logo32x.gif,icons/RedHawk_Logo48x.gif,icons/RedHawk_Logo64x.gif,icons/RedHawk_Logo128x.gif">
         </property>
         <property
          		name="introTitle"
          		value="%productIntroTitle"/>
          <property
          		name="introBrandingImage"
          		value="product:intro-eclipse.png"/>
          <property
          		name="introBrandingImageText"
          		value="%productIntroBrandingText"/>
		  <property
				name="introDescription-overview"
				value="%introDescription-overview"/>
		  <property
				name="introDescription-tutorials"
				value="%introDescription-tutorials"/>
		  <property
				name="introDescription-samples"
				value="%introDescription-samples"/>
    <property
          name="buildIdLocation"
          value="290,10">
    </property>
    <property
          name="startupForegroundColor"
          value="FFFFFF">
    </property>
    <property
          name="startupMessageRect"
          value="7,222,445,20">
    </property>
    <property
          name="startupProgressRect"
          value="5,245,445,15">
    </property>
    <property
          name="featureIconLocation"
          value="10,210">
    </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="gov.redhawk.product.ide.product">
      </introProductBinding>
   </extension>
   
   <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="gov.redhawk.ide.ui.perspectives.sca">
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newcomponent">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newwaveform">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newdevice">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newservice">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newnode">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newidl">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.controlPanel">
        </newWizardShortcut>
        <viewShortcut
              id="gov.redhawk.ui.sca_explorer">
        </viewShortcut>
        <viewShortcut
              id="gov.redhawk.ui.views.namebrowserview">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.views.PropertySheet">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.navigator.ProjectExplorer">
        </viewShortcut>
        <viewShortcut
              id="gov.redhawk.ide.ui.eventViewer">
        </viewShortcut>
     </perspectiveExtension>
     <perspectiveExtension
           targetID="org.eclipse.cdt.ui.CPerspective">
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newcomponent">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newwaveform">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newdevice">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newservice">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newnode">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newidl">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.controlPanel">
        </newWizardShortcut>
        <viewShortcut
              id="gov.redhawk.ui.sca_explorer">
        </viewShortcut>
        <viewShortcut
              id="gov.redhawk.ui.views.namebrowserview">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.views.PropertySheet">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.navigator.ProjectExplorer">
        </viewShortcut>
        <viewShortcut
              id="gov.redhawk.ide.ui.eventViewer">
        </viewShortcut>
        <view
              id="gov.redhawk.ui.sca_explorer"
              minimized="false"
              relationship="bottom"
              relative="org.eclipse.ui.navigator.ProjectExplorer">
        </view>
        <view
              id="gov.redhawk.ui.views.namebrowserview"
              minimized="false"
              relationship="stack"
              relative="gov.redhawk.ui.sca_explorer">
        </view>
     </perspectiveExtension>
     <perspectiveExtension
           targetID="org.eclipse.jdt.ui.JavaPerspective">
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newcomponent">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newwaveform">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newdevice">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newservice">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newnode">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newidl">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.controlPanel">
        </newWizardShortcut>
        <viewShortcut
              id="gov.redhawk.ui.sca_explorer">
        </viewShortcut>
        <viewShortcut
              id="gov.redhawk.ui.views.namebrowserview">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.views.PropertySheet">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.navigator.ProjectExplorer">
        </viewShortcut>
        <viewShortcut
              id="gov.redhawk.ide.ui.eventViewer">
        </viewShortcut>
        <view
              id="gov.redhawk.ui.sca_explorer"
              minimized="false"
              relationship="bottom"
              relative="org.eclipse.jdt.ui.PackageExplorer">
        </view>
        <view
              id="gov.redhawk.ui.views.namebrowserview"
              minimized="false"
              relationship="stack"
              relative="gov.redhawk.ui.sca_explorer">
        </view>
        <view
              id="org.eclipse.ui.navigator.ProjectExplorer"
              minimized="false"
              relationship="stack"
              relative="org.eclipse.jdt.ui.PackageExplorer">
        </view>
     </perspectiveExtension>
     <perspectiveExtension
           targetID="org.python.pydev.ui.PythonPerspective">
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newcomponent">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newwaveform">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newdevice">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newservice">
        </newWizardShortcut>        
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newnode">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newidl">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.controlPanel">
        </newWizardShortcut>
        <viewShortcut
              id="gov.redhawk.ui.sca_explorer">
        </viewShortcut>
        <viewShortcut
              id="gov.redhawk.ui.views.namebrowserview">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.views.PropertySheet">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.navigator.ProjectExplorer">
        </viewShortcut>
        <viewShortcut
              id="gov.redhawk.ide.ui.eventViewer">
        </viewShortcut>
        <view
              id="gov.redhawk.ui.sca_explorer"
              minimized="false"
              relationship="bottom"
              relative="org.python.pydev.navigator.view">
        </view>
        <view
              id="gov.redhawk.ui.views.namebrowserview"
              minimized="false"
              relationship="stack"
              relative="gov.redhawk.ui.sca_explorer">
        </view>
        <view
              id="org.eclipse.ui.navigator.ProjectExplorer"
              minimized="false"
              relationship="stack"
              relative="org.python.pydev.navigator.view">
        </view>
     </perspectiveExtension>
     <perspectiveExtension
           targetID="org.eclipse.pde.ui.PDEPerspective">
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newcomponent">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newwaveform">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newdevice">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.newservice">
        </newWizardShortcut>        
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newnode">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizards.newidl">
        </newWizardShortcut>
        <newWizardShortcut
              id="gov.redhawk.ide.ui.wizard.controlPanel">
        </newWizardShortcut>
        <viewShortcut
              id="gov.redhawk.ui.sca_explorer">
        </viewShortcut>
        <viewShortcut
              id="gov.redhawk.ui.views.namebrowserview">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.views.PropertySheet">
        </viewShortcut>
        <viewShortcut
              id="org.eclipse.ui.navigator.ProjectExplorer">
        </viewShortcut>
        <viewShortcut
              id="gov.redhawk.ide.ui.eventViewer">
        </viewShortcut>
        <view
              id="gov.redhawk.ui.sca_explorer"
              minimized="false"
              relationship="bottom"
              relative="org.eclipse.jdt.ui.PackageExplorer">
        </view>
        <view
              id="gov.redhawk.ui.views.namebrowserview"
              minimized="false"
              relationship="stack"
              relative="gov.redhawk.ui.sca_explorer">
        </view>
     </perspectiveExtension>
  </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup></startup>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <category
            description="%category.description"
            id="gov.redhawk.product.ide.genericDevelopmentCategory"
            name="%category.name">
      </category>
      <categoryActivityBinding
            activityId="gov.redhawk.product.ide.genericJavaDevelopmentActivity"
            categoryId="gov.redhawk.product.ide.genericDevelopmentCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="gov.redhawk.product.ide.genericCppDevelopmentActivity"
            categoryId="gov.redhawk.product.ide.genericDevelopmentCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            categoryId="gov.redhawk.product.ide.genericDevelopmentCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="gov.redhawk.product.ide.genericPythonDevelopmentActivity"
            categoryId="gov.redhawk.product.ide.genericDevelopmentCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="gov.redhawk.product.ide.genericTestingDevelopmentActivity"
            categoryId="gov.redhawk.product.ide.genericDevelopmentCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="gov.redhawk.product.ide.genericUiDevelopmentActivity"
            categoryId="gov.redhawk.product.ide.genericDevelopmentCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="gov.redhawk.product.ide.genericWebDevelopmentActivity"
            categoryId="gov.redhawk.product.ide.genericDevelopmentCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="gov.redhawk.product.ide.genericRpmDevelopmentActivity"
            categoryId="gov.redhawk.product.ide.genericDevelopmentCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="gov.redhawk.product.ide.genericPluginDevelopmentActivity"
            categoryId="gov.redhawk.product.ide.genericDevelopmentCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="gov.redhawk.product.ide.genericAutoolsDevelopmentActivity"
            categoryId="gov.redhawk.product.ide.genericDevelopmentCategory">
      </categoryActivityBinding>
      <activity
            description="%activity.description"
            id="gov.redhawk.product.ide.genericJavaDevelopmentActivity"
            name="%activity.name">
      </activity>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericJavaDevelopmentActivity"
            isEqualityPattern="true"
            pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.wizards.JavaProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericJavaDevelopmentActivity"
            isEqualityPattern="true"
            pattern="org.eclipse.ant.ui/org.eclipse.ant.ui.wizards.JavaProjectWizard">
      </activityPatternBinding>
      <activity
            description="%activity.description.0"
            id="gov.redhawk.product.ide.genericPluginDevelopmentActivity"
            name="%activity.name.0">
      </activity> 
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericPluginDevelopmentActivity"
            pattern="org\.eclipse\.pde\..*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericPluginDevelopmentActivity"
            pattern="org\.eclipse\.pde/.*">
      </activityPatternBinding>       
      <activity
            description="%activity.description.1"
            id="gov.redhawk.product.ide.genericCppDevelopmentActivity"
            name="%activity.name.1">
      </activity>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericCppDevelopmentActivity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.wizards.NewCWizard1">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericCppDevelopmentActivity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.wizards.NewCWizard2">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericCppDevelopmentActivity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.wizards.CProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericCppDevelopmentActivity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.ui.wizards.ConvertToMakeWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericCppDevelopmentActivity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.ui.wizards.NewMakeFromExisting">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericCppDevelopmentActivity"
            pattern="org\.eclipse\.linuxtools\.cdt\..*/.*">
      </activityPatternBinding>
      <activity
            description="%activity.description.2"
            id="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            name="%activity.name.2">
      </activity>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.emf\.codegen\.ecore\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.emf\.codegen\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.emf\.ecore\.editor/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.emf\.example\.installer/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.emf\.importer/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.emf\.mapping\.ecore2ecore\.editor/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.emf\.mapping\.ecore2xml\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.emf\.query\.examples/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.emf\.transaction\.examples/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.emf\.validation\.examples/.*">
      </activityPatternBinding> 
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.gmf\.bridge\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.gmf\.codegen\.edit/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.gmf\.ecore\.editor/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.gmf\.examples\.runtime\.ui\.pde/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.gmf\.graphdef\.edit/.*">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.gmf\.map\.edit/.*">
      </activityPatternBinding> 
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.gmf\.tooldef\.edit/.*">
      </activityPatternBinding> 
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.gmf\.xpand.editor/.*">
      </activityPatternBinding> 
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericEMFDevelopmentActivity"
            pattern="org\.eclipse\.m2m\..*/.*">
      </activityPatternBinding>
      <activity
            description="%activity.description.3"
            id="gov.redhawk.product.ide.genericPythonDevelopmentActivity"
            name="%activity.name.3">
      </activity>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericPythonDevelopmentActivity"
            isEqualityPattern="true"
            pattern="org.python.pydev.django/org.python.pydev.django.ui.wizards.project.DjangoProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericPythonDevelopmentActivity"
            isEqualityPattern="true"
            pattern="org.python.pydev/org.python.pydev.ui.wizards.project.PythonProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericPythonDevelopmentActivity"
            isEqualityPattern="true"
            pattern="org.python.pydev.customizations/org.python.pydev.customizations.app_engine.wizards.AppEngineWizard">
      </activityPatternBinding>
      <activity
            description="%activity.description.4"
            id="gov.redhawk.product.ide.genericTestingDevelopmentActivity"
            name="%activity.name.4">
      </activity>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericTestingDevelopmentActivity"
            pattern="org\.eclipse\.linuxtools\.tmf\..*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericTestingDevelopmentActivity"
            pattern="org\.eclipse\.linuxtools\.valgrind\..*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericTestingDevelopmentActivity"
            pattern="org\.eclipse\.linuxtools\.lttng\..*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericTestingDevelopmentActivity"
            pattern="org\.eclipse\.linuxtools\.systemtap\..*/.*">
      </activityPatternBinding>
      <activity
            description="%activity.description.5"
            id="gov.redhawk.product.ide.genericWebDevelopmentActivity"
            name="%activity.name.5">
      </activity>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericWebDevelopmentActivity"
            pattern="org\.eclipse\.wst/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericWebDevelopmentActivity"
            pattern="org\.eclipse\.wst\..*/.*">
      </activityPatternBinding>
      <activity
            description="%activity.description.6"
            id="gov.redhawk.product.ide.genericRpmDevelopmentActivity"
            name="%activity.name.6">
      </activity>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericRpmDevelopmentActivity"
            pattern="org\.eclipse\.linuxtools\.rpm\..*/.*">
      </activityPatternBinding>
      <activity
            description="%activity.description.7"
            id="gov.redhawk.product.ide.genericUiDevelopmentActivity"
            name="%activity.name.7">
      </activity>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericUiDevelopmentActivity"
            pattern="org\.eclipse\.wb\..*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericUiDevelopmentActivity"
            pattern="com\.windowtester\.eclipse\..*/.*">
      </activityPatternBinding>
      <activity
            description="%activity.description.8"
            id="gov.redhawk.product.ide.genericAutoolsDevelopmentActivity"
            name="%activity.name.8">
      </activity>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.genericAutoolsDevelopmentActivity"
            pattern="org\.eclipse\.linuxtools\.cdt\.autotools\..*/.*">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="gov.redhawk.product.ide.hidedistractions"
            name="%activity.name.9">
         <enabledWhen>
            <with
                  variable="gov.redhawk.product.ide.with1">
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.hidedistractions"
            isEqualityPattern="true"
            pattern="mil.jpeojtrs.sca.dcd.diagram/mil.jpeojtrs.sca.dcd.diagram.part.DcdCreationWizardID">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.hidedistractions"
            isEqualityPattern="true"
            pattern="mil.jpeojtrs.sca.sad.diagram/mil.jpeojtrs.sca.sad.diagram.part.SadCreationWizardID">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.hidedistractions"
            pattern="org\.eclipse\.gef\.examples\..*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.hidedistractions"
            pattern="org\.eclipse\.xsd\..*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.hidedistractions"
            pattern="org\.eclipse\.uml2\.uml\..*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.hidedistractions"
            isEqualityPattern="true"
            pattern="org.python.pydev.django/org.python.pydev.django.ui.wizards.project.DjangoProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.product.ide.hidedistractions"
            isEqualityPattern="true"
            pattern="org.eclipse.sdk/org.eclipse.jdt.ui.wizards.NewClassCreationWizard">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
	  <page            
            category="org.eclipse.ui.preferencePages.Workbench"
            name="%page.name"
            id="org.eclipse.sdk.capabilities">
            <class class="org.eclipse.ui.activities.ActivityCategoryPreferencePage">
                <parameter name="allowAdvanced" value="true"/>
                <parameter name="captionMessage" value="Capabilities allow you to enable or disable various product components.  These capabilities are grouped according to a set of predefined categories." />
            	<parameter name="activityName" value="Capabilities:" />
                <parameter name="categoryName" value="Capabilities:" />
            	<parameter name="activityPromptButton" value="Prompt when enabling capabilities"/>
            	<parameter name="activityPromptButtonTooltip" value="Prompt when a feature is first used that requires enablement of capabilities"/>
            </class>
      </page>   
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard
            id="gov.redhawk.ide.ui.wizards.newcomponent">
      </primaryWizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizards.newwaveform">
      </primaryWizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizard.newdevice">
      </primaryWizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizard.newservice">
      </primaryWizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizards.newnode">
      </primaryWizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizards.newidl">
      </primaryWizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizard.controlPanel">
      </primaryWizard>
   </extension>
</plugin>
